* {
  margin: 0;
  padding: 0;
}

body, html {

}

body {
  background-color: #666699;
}


.adsDiv, .adsDiv2, .adsDiv3, .adsDiv4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 200vh;
  margin-left: 10px;
  margin-right: 10px;

}

img {
  width: 20vmin;
}




#hiddenText {
  margin-top: 9000vh;
}
